
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Exo 2", serif;
}
body{
margin: 0;
padding: 0;
background-color: #fff;
}
.box{
    width: 300px;
    padding: 40px;
    background: #e4f6e7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    box-shadow: 1px 1px 10px rgb(0,0,0);
    border: 1px solid #e4f6e7;
    border-radius: 22px;
}
.box h1{
    color:#747893;
    font-size: 1.5rem;
}
.box input[type="text"], .box input[type="password"]
{
    border: 0;
    width: 240px;
    background: none;
    display: block;
    margin: 20px auto ;
    text-align: center;
    border: 2px solid #747893 ;
    padding: 14px 10px;
    text-align: center;
    outline: none;
    color: #081035;
    border-radius: 24px;
    transition: .25s;
    font-size: 13px;
}
.box input[type="text"]:focus .box input[type="password"]:focus {
    width: 280px;   
    border-color: #747893;
}