*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: "Markazi Text", serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    direction: rtl;
 }
 :root{
    --bg-color: #fbfbfbfb;
    --text-color: #1e4061;
    --second-color: #d98c22;;
    --main-color: #0f5d7f;
    --big-font: 3.5rem;
    --h2-font:2.5rem;
    --p-font:1.5rem;
 }
 body{
    background: var(--bg-color);
    color: var(--text-color);
 }
 .header {
    position: fixed;
    padding:1rem 4%;
    width: 100%;
    height: 100px;
    top: 0;
    text-align: center;
    background:#ab81b0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display:flex;
    align-items:center;
    justify-content:space-between;
    background: #fff;
 }
 .logo img{
   height: auto;
   width: 100px;
   max-width:100% ;
 }
 .navbar{
   display: flex;
 }
 .navbar a{
   color: var(--text-color);
   font-weight: 600;
   font-size: 25px;
   padding: 10px 22px;
   transition: all .40s ease;
 }
 .navbar a:hover{
   color:var(--second-color);
 }
 .header_icons{
   display: flex;
   align-items: center;
 }
 .header_icons i{
   margin-left: 10px;
   font-size: 25px;
   color:var(--text-color);
   transition: all .40s ease;
   margin-right: 15px;
 }
 .header_icons i:hover{
   transform:scale(1.2) ;
   color:var(--second-color);
 }
 #menu-icon{
   font-size: 34px;
   color: var(--text-color);
   z-index: 1001;
   cursor: pointer;
   display: none ;
 }
 section{
  padding: 80px 13%;
  direction: ltr;
 }
 .home{
  position: relative;
  height: 100vh;
  width: 100%;
  background:url(../img/ba4920b0cb42888f633473dacfc2922c.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  align-items: center;
 }
 .home-text h1{
  font-size: var(--big-font);
 }
.home-text h6{
  color:#d98c22;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 50px;
}
.home-text p{
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight:500;
 
}
 .latter form{
  width: 100%;
  max-width: 460px;
  position: relative;
  margin-top: 100px;
 }
 .latter form input:first-child{
  display: inline-block;
  width:100%;
  outline: none;
  padding: 16px 140px 16px 15px ;
  border: 2px solid var(--second-color);
  border-radius: 30px;
 }
 .latter form input:last-child{
  position: absolute;
  display: inline-block;
  border: none;
  outline: none;
  background: var(--second-color);
  color: var(--bg-color);
  padding: 16px 40px;
  border-radius: 30px;
  cursor: pointer;
  top: 1px;
  left: 1px;
  margin: .5px;

 }
 .home-img img {
  height: auto;
  width: 160%;
  margin-top: 72px;
  transform: translateX(250px); /* حرّك الصورة 100px لليمين */
}


.icons-container{
  padding: 20px 5%;
  display: grid ;
  grid-template-columns: repeat(auto-fit , minmax(300px ,auto));
  gap: 1.4rem;
  align-items: center;
  cursor: pointer;
}
.icons-container .icons{
  box-shadow: var(--second-color);
  border-radius: .5rem;
  text-align: center;
  padding: 2rem;
  border: var(--main-color);
}
.icons-container .icons i{
  font-size: 2rem;
  padding-bottom: .7rem;
}
.icons-container .icons h6{
  font-size: 2rem;
  padding-bottom: .5rem 0;
  text-shadow:var(--);
}

.icons-container .icons p{
  font-size: 1.5rem;
  color: var(--main-color);
}
.center-text
{
  text-align: center;
}
.center-text h5{
  color: var(--second-color);
  font-size:20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.center-text h2{
  font-size: var(--h2-font);
  line-height: 1.2;
}
.categoris{
  background:url(../img/ba4920b0cb42888f633473dacfc2922c.jpg);
  background-size: cover;
  display: grid;
}
.categoris-content{
  display: grid;
  grid-template-columns: repeat(auto-fit ,minmax(300px, auto));
  gap: 1.5em;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin-top: 4rem;

}
.box img {
  height: auto;
  width: 120px;
  margin-bottom: 100px;
}
.box{
  border: 3px solid #1e4061;
  border-radius: 20px;
  padding: 5px 15px;
  transition: all .40s ease;

}
.box:hover{
  transform: translateY(-15px);
}
.box h3 {
  font-size: 30px;
  margin-bottom: 3px;
  line-height: 1.3;
  transition: all .40s ease;
}
.box h3:hover{
  color: var(--second-color);
}
.box p{
  font-weight: 500;
  font-size: var(--p-font);
  color: #d98c22;
}
.main-btn{
text-align:center;
margin-top: 5rem;
}
.btn{
  display: inline-block;
  padding: 16px 30px;
  font-size: var(--p-font);
  font-weight: 700;
  background: var(--second-color);
  color: var(--bg-color);
  border-radius: 30px;
  transition: all .40s ease;
}
.btn:hover{
  transform: scale(0.9) translateY(-5px);
}


.courses-content{
  display: grid;
  grid-template-columns: repeat(auto-fit ,minmax(300px, auto));
  gap: 2em;
  align-items: center;
  margin-top: 4rem;
  cursor: pointer;
  border-radius: 15px;
}
.row{
  background: var(--bg-color);
  padding: 0px 0px 10px 0px  ;
  border-radius:  20px;
  box-shadow: 0px 5px 40px rgba(19 8 73 / 13%);
  transition: all .40s ease;
}
.row:hover{
  transform: translateY(-15px);
}
.row img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius:  15px 15px 0px 0px ;
}
.courses-text{
  padding: 35px 20px;
}
.courses-text h5{
  color: var(--second-color);
  font-size: 22px;
  font-weight: 700;
}
.courses-text h3{
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin: 10px 0 1px;
  transition: all .40s ease ;
}
.courses-text h3:hover{
  color: var(--second-color);
}
.courses-text h6{
  color: #696969;
  font-size: var(--p-font);
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  margin-bottom: 5px;
} 
.star i{
  color: var(--second-color);
  margin-right: 2px;
  font-size: 17px;
}
.about{
  background: url(../img/ba4920b0cb42888f633473dacfc2922c.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2REM;
  align-items: center;
}
.about-img img{
  width: 130%;
  height:auto;
  transform: translateX(-35px); 

}
.about-text h2{
  font-size: var(--h2-font);
  line-height: 1.2;
  margin-bottom: 20px;
}
.about-text p{
  font-size: var(--p-font);
  color: #d98c22;
  font-weight: 200;
  line-height: 20px;
  margin-bottom: 10px;
}
.about-text h4{
  font-size: 20px;
  margin-bottom: 10px;
}
.about-text h5{
  font-size: 20px;
  margin-bottom: 30px;
}
.contant{
  padding: 50px 7%;
  background: var(--bg-color);
}
.main-contact{
  display: grid;
  grid-template-columns: repeat(auto-fit ,minmax(200px, auto));
  gap: 2rem;
}
.contant-content img{
  height: auto;
  width: 150px;
  max-width: 100%;
  margin-bottom: 30px;
}
.contant-content li {
  margin-bottom: 10px;
}
.contant-content li a{
  display: block;
  color: var(--text-color);
  font-weight: 500;
  font-size: 15px;
  transition: all .40s ease;
}
.contant-content li a:hover{
  transform: translateX(10px);
  color: #522777;
}
 .credit{
    padding: 4rem;
    padding-top: 1rem;
    margin-top:2rem;
    text-align: center;
    font-size: 2rem;
    color: var(--main-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}
 .credit span{
    color: var(--second-color);
}