
            :root {
                --wst-button-color-fill-primary: rgb(var(--color_48));
                --wst-button-color-border-primary: rgb(var(--color_49));
                --wst-button-color-text-primary: rgb(var(--color_50));
                --wst-button-color-fill-primary-hover: rgb(var(--color_51));
                --wst-button-color-border-primary-hover: rgb(var(--color_52));
                --wst-button-color-text-primary-hover: rgb(var(--color_53));
                --wst-button-color-fill-primary-disabled: rgb(var(--color_54));
                --wst-button-color-border-primary-disabled: rgb(var(--color_55));
                --wst-button-color-text-primary-disabled: rgb(var(--color_56));
                --wst-button-color-fill-secondary: rgb(var(--color_57));
                --wst-button-color-border-secondary: rgb(var(--color_58));
                --wst-button-color-text-secondary: rgb(var(--color_59));
                --wst-button-color-fill-secondary-hover: rgb(var(--color_60));
                --wst-button-color-border-secondary-hover: rgb(var(--color_61));
                --wst-button-color-text-secondary-hover: rgb(var(--color_62));
                --wst-button-color-fill-secondary-disabled: rgb(var(--color_63));
                --wst-button-color-border-secondary-disabled: rgb(var(--color_64));
                --wst-button-color-text-secondary-disabled: rgb(var(--color_65));
                --wst-color-fill-base-1: rgb(var(--color_36));
                --wst-color-fill-base-2: rgb(var(--color_37));
                --wst-color-fill-base-shade-1: rgb(var(--color_38));
                --wst-color-fill-base-shade-2: rgb(var(--color_39));
                --wst-color-fill-base-shade-3: rgb(var(--color_40));
                --wst-color-fill-accent-1: rgb(var(--color_41));
                --wst-color-fill-accent-2: rgb(var(--color_42));
                --wst-color-fill-accent-3: rgb(var(--color_43));
                --wst-color-fill-accent-4: rgb(var(--color_44));
                --wst-color-fill-background-primary: rgb(var(--color_11));
                --wst-color-fill-background-secondary: rgb(var(--color_12));
                --wst-color-text-primary: rgb(var(--color_15));
                --wst-color-text-secondary: rgb(var(--color_14));
                --wst-color-action: rgb(var(--color_18));
                --wst-color-disabled: rgb(var(--color_39));
                --wst-color-title: rgb(var(--color_45));
                --wst-color-subtitle: rgb(var(--color_46));
                --wst-color-line: rgb(var(--color_47));
                --wst-font-style-h2: var(--font_2);
                --wst-font-style-h3: var(--font_3);
                --wst-font-style-h4: var(--font_4);
                --wst-font-style-h5: var(--font_5);
                --wst-font-style-h6: var(--font_6);
                --wst-font-style-body-large: var(--font_7);
                --wst-font-style-body-medium: var(--font_8);
                --wst-font-style-body-small: var(--font_9);
                --wst-font-style-body-x-small: var(--font_10);
                --wst-color-custom-1: rgb(var(--color_13));
                --wst-color-custom-2: rgb(var(--color_16));
                --wst-color-custom-3: rgb(var(--color_17));
                --wst-color-custom-4: rgb(var(--color_19));
                --wst-color-custom-5: rgb(var(--color_20));
                --wst-color-custom-6: rgb(var(--color_21));
                --wst-color-custom-7: rgb(var(--color_22));
                --wst-color-custom-8: rgb(var(--color_23));
                --wst-color-custom-9: rgb(var(--color_24));
                --wst-color-custom-10: rgb(var(--color_25));
                --wst-color-custom-11: rgb(var(--color_26));
                --wst-color-custom-12: rgb(var(--color_27));
                --wst-color-custom-13: rgb(var(--color_28));
                --wst-color-custom-14: rgb(var(--color_29));
                --wst-color-custom-15: rgb(var(--color_30));
                --wst-color-custom-16: rgb(var(--color_31));
                --wst-color-custom-17: rgb(var(--color_32));
                --wst-color-custom-18: rgb(var(--color_33));
                --wst-color-custom-19: rgb(var(--color_34));
                --wst-color-custom-20: rgb(var(--color_35))
            }