
   body{
  margin: 0;
  padding: 0;
  background: none; 
}

    .navbar {
        position: fixed;
        width: 80%;
        z-index: 1000; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0f0f0f;
        padding: 16px 200px;
    }
    .logo {
        font-size: 33px;
        color: white;
         font-family: "Amiri", serif;
    }
    .logo span {
        color: #2eccaa;
    }
    .nav-links {
        display: flex;
        gap: 30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         margin-left: 165px; 
    }
    .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 17px;
  
    }
    .nav-links a.home-link,
    .nav-links a:hover {
    color: #2eccaa;
    }
    .login {
        display: flex;
        align-items: center;
        gap: 13px;
        color: #2eccaa;
        cursor: pointer;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       margin-right:30px ;
        font-size: 17px;
    }
    .login i {
        font-size: 28px;
    }
  .contant {
  position: relative;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.contant img {
    display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 35, 35, 0.5); 
}

.overlay h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 128px;
  text-align: center;
  white-space: nowrap;
}
.overlay p{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 22px;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.but{
  position: absolute;
  padding: 13px;
  width: 170PX;
  background-color:  rgba(62, 204, 181.5);
  color: #2e3530;
  text-decoration: none;
  transition: .3s;
  top: 55%; 
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.but:hover{
   color: #f1f4f2;
}
.hero {
  position: relative;
  height: 800px;
  color: rgb(4, 3, 3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  overflow: hidden; 
}

.hero-img {
  display: block;
  position: absolute;
  width: 100%;
  height: 900px; 
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1; 
  background-color: rgb(255, 255, 255); 
  padding: 100px 20px;
  max-width: 600px;
}
.hero-content h1{
  font-size: 45px;
  margin-top: -10px; 
  }

.hero-content p {
  font-size: 17px;
  line-height: 1.8;
  max-width: 700px;
  margin: 0 auto;
  color:#2e3530;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.floating-btn {
  position: fixed;
  padding: 20px;
  width: 150PX;
  bottom: 20px;
  right: 30px;
  background-color:  rgba(62, 204, 181.5);
  color: #2e3530;
  text-decoration: none;
  transition: 0.3s ease;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.floating-btn:hover {
  background-color: #d5d5d5;
}
community-section {
    text-align: center;
    padding: 80px 20px;
    max-width: 1000px;
    margin-top: -50px;
    width: 100%;
    height: 100%;
}

.community-section h2 {
      font-size: 50px;
    color: #222;
    font-weight: 600;
    margin: 0;
    padding-top: 100px;
    position: relative;
    text-align: center;
}

.community-section p {
    font-size: 16px;
    color: #555;
    line-height: 1.8;
    text-align: center;
      margin-bottom: 150px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inline-images {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
     margin-bottom:30px;
}

.inline-images img {
    width: 200%;
    max-width: 400px;
    height: 300px;
}
.inline-images img:hover {
    transform: translateY(-5px);
}
.dddiv{
  background-color: rgb(62, 204, 181,1);
  height: 250px;
}
.dddiv h2{
     font-size: 50px;
    color: #222;
    font-weight: 600;
    margin: 0;
    padding-top: 70px;
    position: relative;
    text-align: center;
}
.dddiv p{
      font-size: 16px;
    color: #555;
    line-height: 1.8;
    text-align: center;
      margin-bottom: 150px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    
  }
  .grid img {
    width: 100%;
    height: 500px;
    object-fit: cover;
   padding-bottom: 1px;

  }
.MEMBERSHIP h2{
     font-size: 50px;
    color: #222;
    font-weight: 600;
    margin: 0;
    padding-top: 70px;
    position: relative;
    text-align: center;
}
.MEMBERSHIP p{
      font-size: 20px;
    color: #555;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.MEMBERSHIP ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 40px;
    max-width: 1200px; 
    margin-bottom: 60px;
  }

.MEMBERSHIP ul li {
    padding: 10px;
    font-size: 16px;
    color: #555;
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.MEMBERSHIP ul li i {
    color: #4e4f4e;
    margin-right: 15px;
    font-size: 40px;
}

  .contanty {
  position: relative;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.contanty img {
  display: block;
  width: 1800px;
  height: 600px;
}

.overlayy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 35, 35, 0.5); 
}

.overlayy h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  text-align: center;
  white-space: nowrap;
}
.overlayy p{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.841);
  font-size: 15px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-section {
    background: url(../img/10\ Cloffice\ Ideas\ for\ Full-Time\ WFH\ _\ Angi.jpg) no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 80px 20px;
    position: relative;
}
.contact-section h1 {
    font-size: 50px;
    font-weight: bold;
}
.contact-section p {
    font-size: 16px;
    margin: 10px 0;
}
.contact-form {
    margin-top: 30px;
}
.contact-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}
.contact-form input[type="email"] {
    width: 300px;
    padding: 12px;
    border: 2px solid red;
    border-radius: 2px;
    outline: none;
    background-color: rgba(255,255,255,0.8);
    font-size: 14px;
}
.contact-form button {
    display: block;
    margin: 20px auto 0;
    padding: 12px 30px;
    background-color: #2ed6c0;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #25b1a0;
}
.map img{
  width: 100%;
  height: 100%;
}